.search_form {
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2em;
}

.search_form {
  margin-top: 2rem;
}

.search_form input {
  align-self: flex-start;
  width: 100%;
}

.noposts {
  text-align: center;
}

.noposts p {
  margin-bottom: 1.5em;
}

.noposts a {
  padding: 10px 25px;
}
