.search_form {
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2em;
}

.search_form {
  margin-top: 2rem;
}

.search_form input {
  width: 60%;
}

.noposts {
  text-align: center;
}

.noposts p {
  margin-bottom: 2.5rem;
  color: #444;
}

.noposts a {
  padding: 10px 25px;
}
