.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #111;
}

.footer p {
  color: #fff;
  font-size: 1em;
  padding: 20px;
}
