.post_detail {
  margin-bottom: 4em;
}

.post_detail img {
  margin-bottom: 0.5rem;
  border-radius: 10px;
}

.post_detail h2 {
  margin-bottom: 0.5rem;
}

.post_detail .tags {
  display: flex;
  margin-bottom: 2em;
}

.tags p {
  margin-right: 0.5em;
}

.createdBy {
  font-style: italic;
  color: #222;
  align-self: flex-start;
  margin-bottom: 0.5rem;
}
