.post_detail {
  margin-bottom: 4em;
}

.post_detail img {
  max-width: 600px;
}

.post_detail h2 {
  margin-top: 0.5em;
}

.post_detail .tags {
  margin-top: 0;
  display: flex;
}

.tags p {
  margin-top: 0;
  margin-right: 0.5em;
  margin-bottom: 2em;
}

.tags span {
  font-weight: bold;
}

.createdBy {
  font-style: italic;
  color: #222;
  font-size: 1em;
  margin-top: 0.5em;
}

.createdBy span {
  font-weight: bold;
}
